{% load static %}
<head>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <link rel="stylesheet" type="text/css" href="{% static 'slackbot/style.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body class="background">
  <div class="container">
    <div class="header">
      <div class="title">KBObot</div>
    </div>
    <div class="contents">
      <img src="{% static 'slackbot/images/happy.png' %}" class="auth-img">
      <div class="auth-description">Install success!</div>
    </div>
  </div>
</body>

